.lead {
    margin: 56px auto 0px;
    width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin-top: 48px;
        width: 928px;
    }
}

@media screen and (max-width: 950px) {
    .lead {
        width: 100%;
    }
}