.cover {
    width: 1184px;
    margin: 92px auto 0;
}

@media screen and (max-width: 1200px) {
    .cover {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-top: 66px;
    }
}